body {
    background-color: #8f3c48; /* Fondo rosa pastel clarito */
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: #ffffff; /* Cuadro blanco */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h2 {
    color: #ba2737; /* Color de la marca */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente estilizada */
}

label {
    color: #555555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    background-color: #ba2737; /* Color de la marca */
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a02333; /* Color de la marca - tono más oscuro */
}

.brand-image {
    margin-bottom: 20px;
}